{% load i18n %}
{% load humanize %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-7">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.user_profile.role == "Administrator" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard_admin' %}"><i class="fas fa-chart-line"></i> {% trans "Dashboard" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions' %}"><i class="fas fa-question"></i> {% trans "Questions" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_settings' %}"><i class="fas fa-gear"></i> {% trans "Settings" %}</a>
          </li>
          {% endif %}
          {% if request.user.user_profile.role == "Student" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard_student' %}"><i class="fas fa-chart-line"></i> {% trans "Dashboard" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quizz' %}"><i class="fas fa-list"></i> {% trans "Take quizz" %}</a>
          </li>
          {% endif %}
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>