{% load i18n %}
{% load humanize %}

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>{% trans "Question" %}</th>
        <th>{% trans "Country" %}</th>
        <th>{% trans "Sub Category" %}</th>
        <th class="text-center">{% trans "Status" %}</th>
      </tr>
    </thead>
    <tbody>
        {% for index, row in treatment_result.iterrows %}
            {% if row.8 != '' %}
            <tr style="background:rgb(255 220 220)">
                <td>
                    {{row.0}}
                </td>
                <td>
                    {{row.6}}
                </td>
                <td>
                    {{row.7}}
                </td>
                <td class="text-center">
                    <span title="{{row.8}}" class="error_details badge bg bg-danger"><i class="fas fa-exclamation"></i></span>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    {{row.0}}
                </td>
                <td>
                    {{row.6}}
                </td>
                <td>
                    {{row.7}}
                </td>
                <td class="text-center">
                    <span class="badge bg bg-success"><i class="fas fa-check"></i></span>
                </td>
            </tr>
            {% endif %}
      {% endfor %}
    </tbody>
  </table>


  
<script
src="https://code.jquery.com/jquery-3.6.1.js"
integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
crossorigin="anonymous"></script>


<script>
  

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
/////////////////////////////AT LOAD//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CHANGE EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CLICK EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


$(document).on("click", ".error_details", function() {
    Swal.fire({
        icon: 'error',
        text: translate_js($(this).attr("title"), "EN"),
        position: 'center',
        showConfirmButton: false,
    })
});


</script>


<style>

.error_details
{
    cursor: pointer;
}

</style>