body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-subtitle
{
    margin-bottom: 10px;
    font-weight: 300;
    color: #a1aab2;
}
.close_widget
{
    height: 35px;
    width: 35px;
    background: rgb(237 228 228);
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    color: grey;
}
.simple-figure-widget
{
    border-left: 8px solid black;
}
.close_widget:hover
{
    background-color: rgb(126 123 123);
    color:white;
}
.text-muted
{
    color: #9f9f9f!important
}
.em-7
{
    font-size:0.7em;
}
.em-8
{
    font-size:0.8em;
}
.em-9
{
    font-size:0.9em;
}
.em-11
{
    font-size:1.1em;
}
.em-12
{
    font-size:1.2em;
}

.upload-area
{
    margin: auto !important;
    margin-bottom: 50px !important;

}

body {
    margin-top: 0;
    padding: 0;
    background-color: var(--clr-light);
    color: var(--clr-black);
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
  }

  .next_back_buttons
  {
    margin-right:10px;
    margin-left:10px;
  }

  .hidden
  {
    display:none;
  }
  
:root {
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-light: rgb(245, 248, 255);
    --clr-light-gray: rgb(196, 195, 196);
    --clr-blue: rgb(63, 134, 255);
    --clr-light-blue: rgb(171, 202, 255);
  }
  .separator
  {
      font-size: 0.3em;
      color: #c7c7c7;
      margin-right: 2px;
      margin-left: 2px;
  }
  .mdb_danger
  {
    color:#dc4c64;
  }
  .mdb_danger_bg
  {
    background-color:#dc4c64;
  }
  .p0p9
  {
    font-size:0.9em;
  }
  .p0p8
  {
    font-size:0.8em;
  }
  .p0p7
  {
    font-size:0.7em;
  }
  .p1p1
  {
    font-size:1.1em;
  }
  .p1p2
  {
    font-size:1.2em;
  }
  .p1p3
  {
    font-size:1.3em;
  }
  .p1p4
  {
    font-size:1.4em;
  }
  .p1p5
  {
    font-size:1.5em;
  }
  .p1p6
  {
    font-size:1.6em;
  }
  .p1p7
  {
    font-size:1.7em;
  }
  .p1p8
  {
    font-size:1.8em;
  }
  .p1p9
  {
    font-size:1.9em;
  }
  .customer_notes, .transaction_notes
  {
    font-size:0.8em;
    color:#383737;
  }
  .customer_notes_title, .transaction_notes_title
  {
    background: #d9d9d9;
    color: #545454;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    font-weight: 600;
  }
  .searched_customers
{
    background-color: white;
    border: 1px solid #b8ebd2;
    border-radius: 2px;
    padding: 5px;
    margin-top: 2px;
	  display: none;
    font-size:0.8em;
}
.id_customer_selectionne
{
	display: none;
}
.card-filter
{
  background: #dde5f0;
  border: 2px solid #adbad8;
}