{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block page_content %}


<div class="container">


    <div id="load_div" class="hidden" style="text-align:center;">
        <img src="{% static 'assets/img/load.gif' %}">
    </div>
    <div id="div_form">
    <div class="row">
        <div class="col-lg-3 col-12 col-md-12">
            <div id="upload-div h_100">
                <div id="upload-passport">
                    {% include 'customer/widgets/upload-id.html' %}
                </div>
            </div>    
        </div>
        <div class="col-lg-6 col-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_sex" class="form-label">{% trans "Sexe" %}</label>
                        <select class="form-control" id="customer_sex" name="customer_sex">
                            <option value=""></option>
                            <option value="M">{% trans "Masculin" %}</option>
                            <option value="F">{% trans "Feminin" %}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_name" class="form-label">{% trans "Nom complet" %}</label>
                        <input type="text" value="{{customer.complete_name}}" class="form-control" id="customer_name" name="customer_name">
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_nationality" class="form-label">{% trans "Nationalité" %}</label>
                        <select class="form-control" id="customer_nationality" name="customer_nationality">
                            <option value=""></option>
                            <option value='Afghanistan - AFG'>Afghanistan - AFG</option>
                            <option value='Åland Islands - ALA'>Åland Islands - ALA</option>
                            <option value='Albania - ALB'>Albania - ALB</option>
                            <option value='Algeria - DZA'>Algeria - DZA</option>
                            <option value='American Samoa - ASM'>American Samoa - ASM</option>
                            <option value='Andorra - AND'>Andorra - AND</option>
                            <option value='Angola - AGO'>Angola - AGO</option>
                            <option value='Anguilla - AIA'>Anguilla - AIA</option>
                            <option value='Antarctica - ATA'>Antarctica - ATA</option>
                            <option value='Antigua and Barbuda - ATG'>Antigua and Barbuda - ATG</option>
                            <option value='Argentina - ARG'>Argentina - ARG</option>
                            <option value='Armenia - ARM'>Armenia - ARM</option>
                            <option value='Aruba - ABW'>Aruba - ABW</option>
                            <option value='Australia - AUS'>Australia - AUS</option>
                            <option value='Austria - AUT'>Austria - AUT</option>
                            <option value='Azerbaijan - AZE'>Azerbaijan - AZE</option>
                            <option value='Bahamas - BHS'>Bahamas - BHS</option>
                            <option value='Bahrain - BHR'>Bahrain - BHR</option>
                            <option value='Bangladesh - BGD'>Bangladesh - BGD</option>
                            <option value='Barbados - BRB'>Barbados - BRB</option>
                            <option value='Belarus - BLR'>Belarus - BLR</option>
                            <option value='Belgium - BEL'>Belgium - BEL</option>
                            <option value='Belize - BLZ'>Belize - BLZ</option>
                            <option value='Benin - BEN'>Benin - BEN</option>
                            <option value='Bermuda - BMU'>Bermuda - BMU</option>
                            <option value='Bhutan - BTN'>Bhutan - BTN</option>
                            <option value='Bolivia (Plurinational State of) - BOL'>Bolivia (Plurinational State of) - BOL</option>
                            <option value='Bonaire, Sint Eustatius and Saba - BES'>Bonaire, Sint Eustatius and Saba - BES</option>
                            <option value='Bosnia and Herzegovina - BIH'>Bosnia and Herzegovina - BIH</option>
                            <option value='Botswana - BWA'>Botswana - BWA</option>
                            <option value='Bouvet Island - BVT'>Bouvet Island - BVT</option>
                            <option value='Brazil - BRA'>Brazil - BRA</option>
                            <option value='British Indian Ocean Territory - IOT'>British Indian Ocean Territory - IOT</option>
                            <option value='Brunei Darussalam - BRN'>Brunei Darussalam - BRN</option>
                            <option value='Bulgaria - BGR'>Bulgaria - BGR</option>
                            <option value='Burkina Faso - BFA'>Burkina Faso - BFA</option>
                            <option value='Burundi - BDI'>Burundi - BDI</option>
                            <option value='Cabo Verde - CPV'>Cabo Verde - CPV</option>
                            <option value='Cambodia - KHM'>Cambodia - KHM</option>
                            <option value='Cameroon - CMR'>Cameroon - CMR</option>
                            <option value='Canada - CAN'>Canada - CAN</option>
                            <option value='Cayman Islands - CYM'>Cayman Islands - CYM</option>
                            <option value='Central African Republic - CAF'>Central African Republic - CAF</option>
                            <option value='Chad - TCD'>Chad - TCD</option>
                            <option value='Chile - CHL'>Chile - CHL</option>
                            <option value='China - CHN'>China - CHN</option>
                            <option value='Christmas Island - CXR'>Christmas Island - CXR</option>
                            <option value='Cocos (Keeling) Islands - CCK'>Cocos (Keeling) Islands - CCK</option>
                            <option value='Colombia - COL'>Colombia - COL</option>
                            <option value='Comoros - COM'>Comoros - COM</option>
                            <option value='Congo - COG'>Congo - COG</option>
                            <option value='Congo, Democratic Republic of the - COD'>Congo, Democratic Republic of the - COD</option>
                            <option value='Cook Islands - COK'>Cook Islands - COK</option>
                            <option value='Costa Rica - CRI'>Costa Rica - CRI</option>
                            <option value='Côte d'Ivoire - CIV'>Côte d'Ivoire - CIV</option>
                            <option value='Croatia - HRV'>Croatia - HRV</option>
                            <option value='Cuba - CUB'>Cuba - CUB</option>
                            <option value='Curaçao - CUW'>Curaçao - CUW</option>
                            <option value='Cyprus - CYP'>Cyprus - CYP</option>
                            <option value='Czechia - CZE'>Czechia - CZE</option>
                            <option value='Denmark - DNK'>Denmark - DNK</option>
                            <option value='Djibouti - DJI'>Djibouti - DJI</option>
                            <option value='Dominica - DMA'>Dominica - DMA</option>
                            <option value='Dominican Republic - DOM'>Dominican Republic - DOM</option>
                            <option value='Ecuador - ECU'>Ecuador - ECU</option>
                            <option value='Egypt - EGY'>Egypt - EGY</option>
                            <option value='El Salvador - SLV'>El Salvador - SLV</option>
                            <option value='Equatorial Guinea - GNQ'>Equatorial Guinea - GNQ</option>
                            <option value='Eritrea - ERI'>Eritrea - ERI</option>
                            <option value='Estonia - EST'>Estonia - EST</option>
                            <option value='Eswatini - SWZ'>Eswatini - SWZ</option>
                            <option value='Ethiopia - ETH'>Ethiopia - ETH</option>
                            <option value='Falkland Islands (Malvinas) - FLK'>Falkland Islands (Malvinas) - FLK</option>
                            <option value='Faroe Islands - FRO'>Faroe Islands - FRO</option>
                            <option value='Fiji - FJI'>Fiji - FJI</option>
                            <option value='Finland - FIN'>Finland - FIN</option>
                            <option value='France - FRA'>France - FRA</option>
                            <option value='French Guiana - GUF'>French Guiana - GUF</option>
                            <option value='French Polynesia - PYF'>French Polynesia - PYF</option>
                            <option value='French Southern Territories - ATF'>French Southern Territories - ATF</option>
                            <option value='Gabon - GAB'>Gabon - GAB</option>
                            <option value='Gambia - GMB'>Gambia - GMB</option>
                            <option value='Georgia - GEO'>Georgia - GEO</option>
                            <option value='Germany - DEU'>Germany - DEU</option>
                            <option value='Ghana - GHA'>Ghana - GHA</option>
                            <option value='Gibraltar - GIB'>Gibraltar - GIB</option>
                            <option value='Greece - GRC'>Greece - GRC</option>
                            <option value='Greenland - GRL'>Greenland - GRL</option>
                            <option value='Grenada - GRD'>Grenada - GRD</option>
                            <option value='Guadeloupe - GLP'>Guadeloupe - GLP</option>
                            <option value='Guam - GUM'>Guam - GUM</option>
                            <option value='Guatemala - GTM'>Guatemala - GTM</option>
                            <option value='Guernsey - GGY'>Guernsey - GGY</option>
                            <option value='Guinea - GIN'>Guinea - GIN</option>
                            <option value='Guinea-Bissau - GNB'>Guinea-Bissau - GNB</option>
                            <option value='Guyana - GUY'>Guyana - GUY</option>
                            <option value='Haiti - HTI'>Haiti - HTI</option>
                            <option value='Heard Island and McDonald Islands - HMD'>Heard Island and McDonald Islands - HMD</option>
                            <option value='Holy See - VAT'>Holy See - VAT</option>
                            <option value='Honduras - HND'>Honduras - HND</option>
                            <option value='Hong Kong - HKG'>Hong Kong - HKG</option>
                            <option value='Hungary - HUN'>Hungary - HUN</option>
                            <option value='Iceland - ISL'>Iceland - ISL</option>
                            <option value='India - IND'>India - IND</option>
                            <option value='Indonesia - IDN'>Indonesia - IDN</option>
                            <option value='Iran (Islamic Republic of) - IRN'>Iran (Islamic Republic of) - IRN</option>
                            <option value='Iraq - IRQ'>Iraq - IRQ</option>
                            <option value='Ireland - IRL'>Ireland - IRL</option>
                            <option value='Isle of Man - IMN'>Isle of Man - IMN</option>
                            <option value='Israel - ISR'>Israel - ISR</option>
                            <option value='Italy - ITA'>Italy - ITA</option>
                            <option value='Jamaica - JAM'>Jamaica - JAM</option>
                            <option value='Japan - JPN'>Japan - JPN</option>
                            <option value='Jersey - JEY'>Jersey - JEY</option>
                            <option value='Jordan - JOR'>Jordan - JOR</option>
                            <option value='Kazakhstan - KAZ'>Kazakhstan - KAZ</option>
                            <option value='Kenya - KEN'>Kenya - KEN</option>
                            <option value='Kiribati - KIR'>Kiribati - KIR</option>
                            <option value='Korea (Democratic People's Republic of) - PRK'>Korea (Democratic People's Republic of) - PRK</option>
                            <option value='Korea, Republic of - KOR'>Korea, Republic of - KOR</option>
                            <option value='Kuwait - KWT'>Kuwait - KWT</option>
                            <option value='Kyrgyzstan - KGZ'>Kyrgyzstan - KGZ</option>
                            <option value='Lao People's Democratic Republic - LAO'>Lao People's Democratic Republic - LAO</option>
                            <option value='Latvia - LVA'>Latvia - LVA</option>
                            <option value='Lebanon - LBN'>Lebanon - LBN</option>
                            <option value='Lesotho - LSO'>Lesotho - LSO</option>
                            <option value='Liberia - LBR'>Liberia - LBR</option>
                            <option value='Libya - LBY'>Libya - LBY</option>
                            <option value='Liechtenstein - LIE'>Liechtenstein - LIE</option>
                            <option value='Lithuania - LTU'>Lithuania - LTU</option>
                            <option value='Luxembourg - LUX'>Luxembourg - LUX</option>
                            <option value='Macao - MAC'>Macao - MAC</option>
                            <option value='Madagascar - MDG'>Madagascar - MDG</option>
                            <option value='Malawi - MWI'>Malawi - MWI</option>
                            <option value='Malaysia - MYS'>Malaysia - MYS</option>
                            <option value='Maldives - MDV'>Maldives - MDV</option>
                            <option value='Mali - MLI'>Mali - MLI</option>
                            <option value='Malta - MLT'>Malta - MLT</option>
                            <option value='Marshall Islands - MHL'>Marshall Islands - MHL</option>
                            <option value='Martinique - MTQ'>Martinique - MTQ</option>
                            <option value='Mauritania - MRT'>Mauritania - MRT</option>
                            <option value='Mauritius - MUS'>Mauritius - MUS</option>
                            <option value='Mayotte - MYT'>Mayotte - MYT</option>
                            <option value='Mexico - MEX'>Mexico - MEX</option>
                            <option value='Micronesia (Federated States of) - FSM'>Micronesia (Federated States of) - FSM</option>
                            <option value='Moldova, Republic of - MDA'>Moldova, Republic of - MDA</option>
                            <option value='Monaco - MCO'>Monaco - MCO</option>
                            <option value='Mongolia - MNG'>Mongolia - MNG</option>
                            <option value='Montenegro - MNE'>Montenegro - MNE</option>
                            <option value='Montserrat - MSR'>Montserrat - MSR</option>
                            <option value='Morocco - MAR'>Morocco - MAR</option>
                            <option value='Mozambique - MOZ'>Mozambique - MOZ</option>
                            <option value='Myanmar - MMR'>Myanmar - MMR</option>
                            <option value='Namibia - NAM'>Namibia - NAM</option>
                            <option value='Nauru - NRU'>Nauru - NRU</option>
                            <option value='Nepal - NPL'>Nepal - NPL</option>
                            <option value='Netherlands - NLD'>Netherlands - NLD</option>
                            <option value='New Caledonia - NCL'>New Caledonia - NCL</option>
                            <option value='New Zealand - NZL'>New Zealand - NZL</option>
                            <option value='Nicaragua - NIC'>Nicaragua - NIC</option>
                            <option value='Niger - NER'>Niger - NER</option>
                            <option value='Nigeria - NGA'>Nigeria - NGA</option>
                            <option value='Niue - NIU'>Niue - NIU</option>
                            <option value='Norfolk Island - NFK'>Norfolk Island - NFK</option>
                            <option value='North Macedonia - MKD'>North Macedonia - MKD</option>
                            <option value='Northern Mariana Islands - MNP'>Northern Mariana Islands - MNP</option>
                            <option value='Norway - NOR'>Norway - NOR</option>
                            <option value='Oman - OMN'>Oman - OMN</option>
                            <option value='Pakistan - PAK'>Pakistan - PAK</option>
                            <option value='Palau - PLW'>Palau - PLW</option>
                            <option value='Palestine, State of - PSE'>Palestine, State of - PSE</option>
                            <option value='Panama - PAN'>Panama - PAN</option>
                            <option value='Papua New Guinea - PNG'>Papua New Guinea - PNG</option>
                            <option value='Paraguay - PRY'>Paraguay - PRY</option>
                            <option value='Peru - PER'>Peru - PER</option>
                            <option value='Philippines - PHL'>Philippines - PHL</option>
                            <option value='Pitcairn - PCN'>Pitcairn - PCN</option>
                            <option value='Poland - POL'>Poland - POL</option>
                            <option value='Portugal - PRT'>Portugal - PRT</option>
                            <option value='Puerto Rico - PRI'>Puerto Rico - PRI</option>
                            <option value='Qatar - QAT'>Qatar - QAT</option>
                            <option value='Réunion - REU'>Réunion - REU</option>
                            <option value='Romania - ROU'>Romania - ROU</option>
                            <option value='Russian Federation - RUS'>Russian Federation - RUS</option>
                            <option value='Rwanda - RWA'>Rwanda - RWA</option>
                            <option value='Saint Barthélemy - BLM'>Saint Barthélemy - BLM</option>
                            <option value='Saint Helena, Ascension and Tristan da Cunha - SHN'>Saint Helena, Ascension and Tristan da Cunha - SHN</option>
                            <option value='Saint Kitts and Nevis - KNA'>Saint Kitts and Nevis - KNA</option>
                            <option value='Saint Lucia - LCA'>Saint Lucia - LCA</option>
                            <option value='Saint Martin (French part) - MAF'>Saint Martin (French part) - MAF</option>
                            <option value='Saint Pierre and Miquelon - SPM'>Saint Pierre and Miquelon - SPM</option>
                            <option value='Saint Vincent and the Grenadines - VCT'>Saint Vincent and the Grenadines - VCT</option>
                            <option value='Samoa - WSM'>Samoa - WSM</option>
                            <option value='San Marino - SMR'>San Marino - SMR</option>
                            <option value='Sao Tome and Principe - STP'>Sao Tome and Principe - STP</option>
                            <option value='Saudi Arabia - SAU'>Saudi Arabia - SAU</option>
                            <option value='Senegal - SEN'>Senegal - SEN</option>
                            <option value='Serbia - SRB'>Serbia - SRB</option>
                            <option value='Seychelles - SYC'>Seychelles - SYC</option>
                            <option value='Sierra Leone - SLE'>Sierra Leone - SLE</option>
                            <option value='Singapore - SGP'>Singapore - SGP</option>
                            <option value='Sint Maarten (Dutch part) - SXM'>Sint Maarten (Dutch part) - SXM</option>
                            <option value='Slovakia - SVK'>Slovakia - SVK</option>
                            <option value='Slovenia - SVN'>Slovenia - SVN</option>
                            <option value='Solomon Islands - SLB'>Solomon Islands - SLB</option>
                            <option value='Somalia - SOM'>Somalia - SOM</option>
                            <option value='South Africa - ZAF'>South Africa - ZAF</option>
                            <option value='South Georgia and the South Sandwich Islands - SGS'>South Georgia and the South Sandwich Islands - SGS</option>
                            <option value='South Sudan - SSD'>South Sudan - SSD</option>
                            <option value='Spain - ESP'>Spain - ESP</option>
                            <option value='Sri Lanka - LKA'>Sri Lanka - LKA</option>
                            <option value='Sudan - SDN'>Sudan - SDN</option>
                            <option value='Suriname - SUR'>Suriname - SUR</option>
                            <option value='Svalbard and Jan Mayen - SJM'>Svalbard and Jan Mayen - SJM</option>
                            <option value='Sweden - SWE'>Sweden - SWE</option>
                            <option value='Switzerland - CHE'>Switzerland - CHE</option>
                            <option value='Syrian Arab Republic - SYR'>Syrian Arab Republic - SYR</option>
                            <option value='Taiwan, Province of China - TWN'>Taiwan, Province of China - TWN</option>
                            <option value='Tajikistan - TJK'>Tajikistan - TJK</option>
                            <option value='Tanzania, United Republic of - TZA'>Tanzania, United Republic of - TZA</option>
                            <option value='Thailand - THA'>Thailand - THA</option>
                            <option value='Timor-Leste - TLS'>Timor-Leste - TLS</option>
                            <option value='Togo - TGO'>Togo - TGO</option>
                            <option value='Tokelau - TKL'>Tokelau - TKL</option>
                            <option value='Tonga - TON'>Tonga - TON</option>
                            <option value='Trinidad and Tobago - TTO'>Trinidad and Tobago - TTO</option>
                            <option value='Tunisia - TUN'>Tunisia - TUN</option>
                            <option value='Turkey - TUR'>Turkey - TUR</option>
                            <option value='Turkmenistan - TKM'>Turkmenistan - TKM</option>
                            <option value='Turks and Caicos Islands - TCA'>Turks and Caicos Islands - TCA</option>
                            <option value='Tuvalu - TUV'>Tuvalu - TUV</option>
                            <option value='Uganda - UGA'>Uganda - UGA</option>
                            <option value='Ukraine - UKR'>Ukraine - UKR</option>
                            <option value='United Arab Emirates - ARE'>United Arab Emirates - ARE</option>
                            <option value='United Kingdom of Great Britain and Northern Ireland - GBR'>United Kingdom of Great Britain and Northern Ireland - GBR</option>
                            <option value='United States of America - USA'>United States of America - USA</option>
                            <option value='United States Minor Outlying Islands - UMI'>United States Minor Outlying Islands - UMI</option>
                            <option value='Uruguay - URY'>Uruguay - URY</option>
                            <option value='Uzbekistan - UZB'>Uzbekistan - UZB</option>
                            <option value='Vanuatu - VUT'>Vanuatu - VUT</option>
                            <option value='Venezuela (Bolivarian Republic of) - VEN'>Venezuela (Bolivarian Republic of) - VEN</option>
                            <option value='Viet Nam - VNM'>Viet Nam - VNM</option>
                            <option value='Virgin Islands (British) - VGB'>Virgin Islands (British) - VGB</option>
                            <option value='Virgin Islands (U.S.) - VIR'>Virgin Islands (U.S.) - VIR</option>
                            <option value='Wallis and Futuna - WLF'>Wallis and Futuna - WLF</option>
                            <option value='Western Sahara - ESH'>Western Sahara - ESH</option>
                            <option value='Yemen - YEM'>Yemen - YEM</option>
                            <option value='Zambia - ZMB'>Zambia - ZMB</option>
                            <option value='Zimbabwe - ZWE'>Zimbabwe - ZWE</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_birth" class="form-label">{% trans "Date de naissance" %}</label>
                        <input type="text" class="datepicker form-control" id="customer_birth" name="customer_birth">
                    </div>
                </div>
                <div class="col-lg-4 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_type" class="form-label">{% trans "Type<br>de document" %}</label>
                        <select disabled name="customer_type" id="customer_type" class="form-control">
                            <option value="">{% trans "Type de pièce d'identité" %}</option>
                            <option value="PASSPORT">Passport</option>
                            <option value="ID">{% trans "Carte d'identité" %}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_id" class="form-label">{% trans "Numéro<br>du document" %}</label>
                        <input value="{{customer.identity_number}}" type="text" class="form-control" id="customer_id" name="customer_id">
                    </div>
                </div>
                <div class="col-lg-4 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_expire" class="form-label">{% trans "Expiration<br>du document" %}</label>
                        <input type="text" class="form-control datepicker" id="customer_expire" name="customer_expire">
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_phone" class="form-label">{% trans "Téléphone" %}</label>
                        <input value="{{customer.phone}}" type="text" class="form-control" id="customer_phone" name="customer_phone">
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_email" class="form-label">{% trans "Email" %}</label>
                        <input value="{{customer.email}}" type="text" class="form-control" id="customer_email" name="customer_email">
                    </div>
                </div>
                <div class="col-lg-12 col-12 col-md-12">
                    <div class="form-group mb-3">
                        <label for="customer_address" class="form-label">{% trans "Adresse" %}</label>
                        <input value="{{customer.address}}" type="text" class="form-control" id="customer_address" name="customer_address">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12 col-md-12">
            <div class="customer_notes col-lg-12 col-12 col-md-12 mb-3">
                <p class="customer_notes_title">{% trans "Notes sur le client" %}</p>
                <div style="padding: 10px; max-height: 100px; overflow-y: auto;">
                    {% for note in customer_notes %}
                    <p class="customer_note"><strong>{{ note.created_at|date:"Y-m-d" }}</strong> : {{ note.note }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12 col-12 col-md-12">
                <div class="form-group mb-3">
                    <label for="customer_note" class="form-label">{% trans "Nouvelle Note" %}</label>
                    <textarea style="resize:none;" type="text" class="form-control" id="customer_note" name="customer_note"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-4" style="text-align:center;">
            <button id="save_customer" class="next_back_buttons btn btn-lg btn-success"><i class="fas fa-save"></i> {% trans "Enregistrer" %}</button>
        </div>
    </div>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
    
var cus_id = "{{customer.id|safe}}";
$("#consulter_id").show("")
customer_doc_preview = document.querySelector('#previewImage2');
customer_doc_preview.style.display = 'block';
customer_doc_preview.setAttribute('src', "/media/{{customer.id}}.jpg");
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
/////////////////////////////AT LOAD//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

var customer_key = makeid(50)
var file_to_upload


$(function() {
    $( ".datepicker" ).datepicker(
        {
        dateFormat: "yy-mm-dd"
        });
        $("#customer_birth").datepicker("setDate", "{{customer.date_of_birth|date:'Y-m-d'}}");
        $("#customer_expire").datepicker("setDate", "{{customer.identity_expire_date|date:'Y-m-d'}}");
    });

$("#customer_type").val("{{customer.identity_type}}")
$("#customer_type_identity").val($("#customer_type").val());
$("#customer_sex").val("{{customer.sex}}")
$("#customer_nationality").val("{{customer.nationality}}")

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CHANGE EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CLICK EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////




$(document).on("click", "#save_customer", function() {

    if(typeof file_to_upload === 'undefined')
    {
        customer_key = "{{customer.id|safe}}"
    }else
    {
        customer_key = customer_key
    }
    var form_data = new FormData();
    form_data.append(0, file_to_upload);
    form_data.append("key", customer_key)
    form_data.append("type", $("#customer_type_identity").val())

    $.ajax({
        headers: {
            "X-CSRFToken": getCookie("csrftoken")
        },
        type: 'POST',
        processData: false,
        contentType: false,
        url: "{% url 'upload_id_file' %}",
        data: form_data,
        success: function(response) {

        }
    })


if (validate_form() == true)
    {
        data_dict = {
            "action": "save_customer",
            "customer_name": $("#customer_name").val(),
            "customer_nationality": $("#customer_nationality").val(),
            "customer_id": $("#customer_id").val(),
            "cus_id": cus_id,
            "customer_birth": $("#customer_birth").val(),
            "customer_type": $("#customer_type_identity").val(),
            "customer_expire": $("#customer_expire").val(),
            "customer_address": $("#customer_address").val(),
            "customer_phone": $("#customer_phone").val(),
            "customer_email": $("#customer_email").val(),
            "customer_note": $("#customer_note").val(),
            "customer_sex": $("#customer_sex").val(),
            "customer_key": customer_key
        }
        $("#load_div").show("")
        $("#div_form").hide("")

        $.ajax({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            type: 'POST',
            processData: false,
            contentType: false,
            url: "{% url 'ajax_calls' %}",
            data: JSON.stringify(data_dict),
            success: function(response) {
                if (response['error'] != "0")
                {
                    Swal.fire({
                        icon: 'error',
                        title: translate_js('Une erreur est survenue!', "FR"),
                        position: 'center',
                        showConfirmButton: false,
                        text: response['error_text'],
                    })
                    $("#load_div").hide("");
                    $("#div_form").show("");
                }else
                {
                    document.location.href = '/customers/?success_message=updated'
                }
            }
        })
    }else
    {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            position: 'center',
            showConfirmButton: false,
            timer: 1500,
            text: translate_js('Merci de remplire les champs indiquées en rouge !', "FR"),
        })
    }
});


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////FUNCTIONS/////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

function validate_form()
{
    return_value = true
    if ($("#customer_name").val() == "")
    {
        $("#customer_name").css("background-color", "#ffc3c3");
        return_value = false
    }
    if ($("#customer_nationality").val() == "")
    {
        $("#customer_nationality").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_id").val() == "")
    {
        $("#customer_id").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_birth").val() == "")
    {
        $("#customer_birth").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_type").val() == "")
    {
        $("#customer_type").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_expire").val() == "")
    {
        $("#customer_expire").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_sex").val() == "")
    {
        $("#customer_sex").css("background-color", "#ffc3c3")
        return_value = false
    }
    if ($("#customer_phone").val() == "")
    {
        $("#customer_phone").css("background-color", "#ffc3c3")
        return_value = false
    }
    return return_value
}

function makeid(length) {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
}

</script>


{% endblock %}