

  {% extends "auth/base.html" %}
  {% load i18n %}
  {% block page_content %}
  
  
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">

          <div class="col-md-12 col-lg-4 col-xl-4">
          </div>
          <div class="col-md-12 col-lg-4 col-xl-4">
            <h2 class="text-center">{% trans "Reset Password" %}</h2>
            <p style="color:grey; font-size:0.8em;" class="text-center">{% trans "Please enter your email below and we will send you a reset password link to your mail box" %}</p>
            <form method="post" action="">
              {% csrf_token %}
              <!-- Email input -->
              {% if form.email.errors %}
              <p class="note note-danger">
                {{ form.email.errors }}
              </p>
              {% endif %}
  
              <div class="form-outline mb-4">
                <input type="text" required id="id_email" name="email" class="form-control form-control-lg" placeholder="{% trans 'Email' %}" />
              </div>
    
              
    
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Confirm" %}</button>
              
  
            </form>
          </div>
          <div class="col-md-12 col-lg-4 col-xl-4">
          </div>
        </div>
      </div>
    </section>


{% endblock %}