{% extends "auth/base.html" %}
{% load i18n %}

{% block page_content %}


<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form method="post" action="">
            {% csrf_token %}
            <!-- Email input -->
            {% if error_to_show %}
                <p class="note note-danger">
                {{error_to_show}}
                </p>
            {% endif %}

            <div class="form-outline mb-4">
              <input type="text" required id="id_username" name="username" class="form-control form-control-lg" placeholder="{% trans 'Username' %}" />
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" required id="id_email" name="email" class="form-control form-control-lg" placeholder="{% trans 'Email' %}" />
              </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" required id="id_password1" name="password1" class="form-control form-control-lg" placeholder="{% trans 'Password' %}" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" required id="id_password2" name="password2" class="form-control form-control-lg" placeholder="{% trans 'Confirm password' %}" />
            </div>
    

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Sign up" %}</button>
            <div class="divider align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">{% trans "OR" %}</p>
            </div>
  
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
              role="button">
              <i class="fab fa-facebook-f me-2"></i>{% trans "Continue with Facebook" %}
            </a>
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
              role="button">
              <i class="fab fa-twitter me-2"></i>{% trans "Continue with Twitter" %}</a>

              <div class="divider align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted"><a href="{% url 'login' %}">Already registred?</a></p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}