{% load i18n %}
{% load humanize %}
<div class="plot_widget col-lg-3 col-md-12 col-sm-12 mb-4">
<div class="widget-color-{{color}} widget_{{content_id}} simple-figure-widget card h-100">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <h6 class="card-subtitle"><strong>{{sub_title}}</strong></h6>
      <div class="d-flex flex-row">
        <div class="align-self-center">
          <h3 class="mb-0"><span span="content_id">{{content|floatformat:2|intcomma}}</span> <span class="text-muted em-7">{{unit}}</span></h3>
        </div>
      </div>
      <div class="close_widget"><i class="fas fa-times"></i></div>
    </div>
</div>
</div>