<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

    
    {% csrf_token %}
    {% block page_content %}
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- Here is where your content get inserted -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    {% endblock %}

{% include 'scripts.html' %}


</html>
