{% extends "base.html" %}

{% block page_content %}
{% load i18n %}
{% load humanize %}



<div class="container">

        <div class="row">
            <div class="col-lg-12 col-12 col-md-12 mb-5">
                <input id="add_question_field_question" class="add_question_field form-control" placeholder="{% trans 'Example: What is the capital of France' %}">
            </div>
            <div class="col-lg-3 col-12 col-md-12 mb-5">
                <select id="add_question_field_region" class="add_question_field form-control">
                    <option disabled selected value="">{% trans 'Region' %}</option>
                </select>
            </div>
            <div class="col-lg-3 col-12 col-md-12 mb-5">
                <select id="add_question_field_country" class="add_question_field form-control">
                    <option disabled selected value="">{% trans 'Country' %}</option>
                </select>
            </div>
            <div class="col-lg-3 col-12 col-md-12 mb-5">
                <select id="add_question_field_category" class="add_question_field form-control">
                    <option disabled selected value="">{% trans 'Category' %}</option>
                </select>
            </div>
            <div class="col-lg-3 col-12 col-md-12 mb-5">
                <select id="add_question_field_sub_category" class="add_question_field form-control">
                    <option disabled selected value="">{% trans 'Sub category' %}</option>
                </select>
            </div>
            <div class="col-lg-4 col-12 col-md-12 mb-5">
                <div class="add_question_type_frame">{% trans 'Free Text' %}</div>
            </div>

            <div class="col-lg-4 col-12 col-md-12 mb-5">
                <div class="add_question_type_frame">{% trans 'True or False' %}</div>
            </div>

            <div class="col-lg-4 col-12 col-md-12 mb-5">
                <div class="add_question_type_frame">{% trans 'Multiple Choices' %}</div>
            </div>

            <div style="display:none;" id="free_text_answer">
                <div class="col-lg-12 col-12 col-md-12 mb-5">
                    <label class="form-label">Answer</label>
                    <textarea style="resize: none;" class="form-control" placeholder="{% trans 'Example: The capital of France is Paris' %}"></textarea>
                </div>
            </div>
                
            <div style="display:none;" id="choices_answer">
                <div class="col-lg-12 col-12 col-md-12 mb-5">
                    <label class="form-label">Answer</label>
                    <select class="form-control">
                        <option disabled selected value=""></option>
                    </select>
                </div>
            </div>

        </div>

</div>


<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script>

$( document ).ready(function() {


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
/////////////////////////////AT LOAD//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////





//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CLICK EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


});

</script>

<style>

.add_question_field
{
    font-size:1.5em;
}

.add_question_type_frame
{
    border: 3px solid #c54141;
    height: 100px;
    width: 100%;
    line-height: 94px;
    text-align: center;
    cursor: pointer;
    color: #561616;
    border-radius: 10px;
    background: white;
    font-weight: 600;
    font-size: 1.2em;
}

.add_question_type_frame:hover
{
    border: 3px solid white;
    color: white;
    background: #c54141;
}

</style>

{% endblock %}