{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block page_content %}


<div class="container">

    <div id="div_identity">
    <div class="row">
        <div class="col-lg-4 col-12 col-md-12">
        </div>
        <div class="col-lg-4 col-12 col-md-12">
            <div id="upload-div h_100">
                <div id="upload-passport">
                    {% include 'administrator/widgets/upload-id.html' %}
                </div>
            </div>    
        </div>
        <div class="col-lg-4 col-12 col-md-12">
        </div>
        <div style="text-align:center;">
            <button disabled id="upload_next" class="next_back_buttons btn btn-lg btn-success">{% trans "Submit" %}</button>
        </div>
    </div>
    </div>
    <div id="load_div" class="hidden" style="text-align:center;">
        <img src="{% static 'assets/img/load.gif' %}">
    </div>
    <div class="hidden" id="div_form">
    
    </div>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
    
var cus_id = 0
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
/////////////////////////////AT LOAD//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////



var file_to_upload

function check_file_upload()
{
    if (parseInt(id_card_uploaded) >= 1) 
    {
        $("#upload_next").attr("disabled", false)
    }else
    {
        $("#upload_next").attr("disabled", true)
    }
}

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CHANGE EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////CLICK EVENTS//////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////


$(document).on("click", "#upload_next", function() {

    if (parseInt(id_card_uploaded) >= 1) 
    {

    $("#div_form").hide("");
    $("#div_identity").hide("");
    $("#load_div").show("");   
    var form_data = new FormData();
    form_data.append(0, file_to_upload);
    form_data.append("key", makeid(50))

    $.ajax({
        headers: {
            "X-CSRFToken": getCookie("csrftoken")
        },
        type: 'POST',
        processData: false,
        contentType: false,
        url: "{% url 'upload_questions_file' %}",
        data: form_data,
        success: function(response) {
            $("#div_form").show("");
            $("#div_identity").hide("");
            $("#load_div").hide("");
            $("#div_form").html(response['html'])
        }
    })
    }

});


//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
////////////////////////FUNCTIONS/////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////

function makeid(length) {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
}

</script>


{% endblock %}